.error {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 100px 100px 100px;
}

.error strong {
  font-size: 288px;
  font-weight: 700;
  line-height: 263px;
}

.error h2 {
  font-size: 36px;
  font-weight: 500;
}

.error h3 {
  font-size: 18px;
  font-weight: 500;
  text-decoration: underline;
}