.header-nav {
  display: flex;
  justify-content: space-between;
  margin: 40px 35px;
}

.header-nav div {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logo {
  width: 210px;
  height: auto;
}

.header-nav a, .header-nav div a {
  text-decoration: none;
  color: #FF6060;
  font-size: 24px;
  font-weight: 500;
  padding: 0;
}

.header-nav div a {
  padding: 0 0 0 30px;
}

.active {
  text-decoration: underline;
}